
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Collection Rules
    match /users/{userId} {
      allow read, update, write: if isOwner(userId);
      allow create: if isSignedIn();
    }
    
    match /users/{userId}/habitLogs/{logId} {
      allow read, list, write, update, delete: if isOwner(userId);
    }
  }
}

    