@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 94%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 0 0% 90%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;

    --radius: 0.5rem;

    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 120 40% 50%;
    --chart-4: 280 50% 60%;
    --chart-5: 200 60% 55%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 231 48% 65%;
    --primary-foreground: 0 0% 9%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 36 100% 55%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 231 48% 65%;

    --chart-1: 231 50% 60%;
    --chart-2: 36 100% 60%;
    --chart-3: 120 40% 60%;
    --chart-4: 280 50% 70%;
    --chart-5: 200 60% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
